.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575cd;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: #512da8;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background: #9575cd;
}
.carousel .carousel-item {
  text-align: center;
  height: 100px;
}
.carousel .carousel-item img {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.modal-header {
  background-color: #512da8;
  color:white;
}
.modal-header button {
  color: floralwhite;
}
.modal-body {
  background-color: #d1c4e9;
}
.card, .card-header{
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
}

.card{
	box-shadow: 0 2px 20px 0 rgba(110,130,208,.18);
}

.btn-link{
	width : 100%;
	height: 60px;
	color: #000;	
	font-weight: bold;
	text-decoration: none;
}

.card-body{
	background: #e8eeff;
}

.btn-link:after{
	content: '\2212';
	width: 35px;
	font-size: 25px;
	text-align: left;
	border-radius: 5px;
	right: 15px;
	top: 11px;
	position: absolute;
	background: #e8eeff;
}

.btn-link.collapsed:after{
	content: '\002B';
}

.btn-link:before{
	content: '';
	height: 25px;
	width: 25px;
	position: absolute;
	background:#fff;
	z-index: 1;
	transform: rotate(45deg);
	left: 30px;
	top: 46px;
}